doctype html
html
    head
        title XLink Menu
        meta(name="viewport" content="width=device-width, initial-scale=0.75, maximum-scale=0.75, user-scalable=no")
        link(rel="manifest" href="/static/manifest.json")
        link(rel='stylesheet', href='/static/style.css')
        link(rel='stylesheet', href='/static/fontawesome-pro-6.5.1-web/css/all.css')
        script(rel='script', href='/static/menu.js')
        script(rel='script', href='/static/fontawesome-pro-6.5.1-web/js/all.js')
    body
        div.header-bar
            if (parentIndex)
                a(href=`/device/${key}/open` style="margin-right: auto;")
                    i.fa-regular.fa-left(style="padding-right: 0.35em;")
                    span Back
            else
                span AmusementVISION
            div(style="float: right;")
                if (text)
                    span !{text}
                else
                    img(src="/static/logo.png" style="height: 0.95em;")
                if (icon)
                    i.fa-regular(class=`fa-${icon}` style="padding-left: 0.35em;")
        ul
            each item, index in items
                if (item.slider)
                    div.slider-item
                        li(class=`${(!captures && items.length - 1 === index) ? 'last' : ''}`)
                            if (item.children)
                                a(style="flex-grow: 1;" tabindex=0 href=`/device/${key}/${(item.children) ? 'menu' : (verify) ? 'verify' : 'send'}/${(item.children) ? index : `${parentIndex || '-1'}/${index}`}?_${Date.now()}`)
                                    if (item.icon)
                                        div.icon-holder
                                            i.fa-regular(class=`fa-${item.icon}`)
                                    span !{item.text}
                            else
                                if (item.icon)
                                    div.icon-holder
                                        i.fa-regular(class=`fa-${item.icon}`)
                                span(style="flex-grow: 1;") !{item.text}
                            if (item.status)
                                input.slider(style="flex-grow: 1;" type='range', min='0', max='100' value=item.status[0] id=`slider-${index}` onchange=`window.location.href = "/device/${key}/slider_value/${parentIndex || '-1'}/${index}/" + this.value; return false;`)
                            if (item.status)
                                span.status(style=`padding-left: 0.35em; ${(item.status[1]) ? "color: " + item.status[1] + ";" : ''}`) !{item.status[0]}!{(item.append) ? item.append : ''}
                else if (item.toggle)
                    div.slider-item
                        li(class=`${(!captures && items.length - 1 === index) ? 'last' : ''}`)
                            if (item.children)
                                a(style="flex-grow: 1;" tabindex=0 href=`/device/${key}/${(item.children) ? 'menu' : (verify) ? 'verify' : 'send'}/${(item.children) ? index : `${parentIndex || '-1'}/${index}`}?_${Date.now()}`)
                                    if (item.icon)
                                        div.icon-holder
                                            i.fa-regular(class=`fa-${item.icon}`)
                                    span !{item.text}
                            else
                                if (item.icon)
                                    div.icon-holder
                                        i.fa-regular(class=`fa-${item.icon}`)
                                span(style="flex-grow: 1;") !{item.text}
                            div.toggle-holder
                                - console.log(item.isOn)
                                each toggle_item, toggle_index in item.toggle
                                    a(tabindex=0 href=`/device/${key}/toggle_item/${parentIndex || '-1'}/${index}/${toggle_index}?_${Date.now()}` class=`${((item.isOn && item.isOn === toggle_index) || (!item.isOn && item.toggle.length - 1 === toggle_index)) ? "toggle-active" : ""}` style=`${(item.status && toggle_item.bg && ((item.isOn && item.isOn === toggle_index) || (!item.isOn && item.toggle.length - 1 === toggle_index))) ? "background-color: " + toggle_item.bg + "; " : ""}${(item.status && toggle_item.color && ((item.isOn && item.isOn === toggle_index) || (!item.isOn && item.toggle.length - 1 === toggle_index))) ? "color: " + toggle_item.color + "; " : ""}`)
                                        if (toggle_item.icon)
                                            div.icon-holder
                                                i.fa-regular(class=`fa-${toggle_item.icon}`)
                                        else if (toggle_item.text)
                                            span !{toggle_item.text}
                                        else if (item.toggle.length <= 2)
                                            span !{(toggle_index === 1) ? "O" : "I"}
                                        else
                                            span !{toggle_index}
                else
                    a(tabindex=0 href=`/device/${key}/${(item.children) ? 'menu' : (verify) ? 'verify' : 'send'}/${(item.children) ? index : `${parentIndex || '-1'}/${index}`}?_${Date.now()}`)
                        li(class=`${(!captures && items.length - 1 === index) ? 'last' : ''}`)
                            if (item.icon)
                                div.icon-holder
                                    i.fa-regular(class=`fa-${item.icon}`)
                            span(style="flex-grow: 1;") !{item.text}
                            if (item.badges)
                                div.badges
                                    each badge in item.badges
                                        .badge(style=`${(badge.color) ? "background-color: " + badge.color + ";" : ''}`)
                                            span(style=`${(badge.text_color) ? "color: " + badge.text_color + ";" : ''}`) !{badge.text}
                            //if (item.children)
                                i.fa-regular.fa-chevron-right(style="padding-left: 0.35em;")
                            if (item.status)
                                span.status(style=`padding-left: 0.35em; ${(item.status[1]) ? "color: " + item.status[1] + ";" : ''}`) !{item.status[0]}!{(item.append) ? item.append : ''}
            if (captures && !parentIndex && !inline)
                a(href=`/device/${key}/captures`)
                    li.last
                        div.icon-holder
                            i.fa-regular.fa-image-landscape
                        span(style="flex-grow: 1;") Saved Captures
        div.close-button
            if (inline)
                a(href="/open")
                    i.fa-regular.fa-list(style="padding-right: 0.35em;")
                    span Devices
                if (!parentIndex)
                    a(href=`/device/${key}/closed` style="margin-left: auto;")
                        i.fa-regular.fa-times(style="padding-right: 0.35em;")
                        span Close
            else
                a(href="/open" style="margin-left: auto;")
                    i.fa-regular.fa-list(style="padding-right: 0.35em;")
                    span Devices
